<div class="notification is-danger is-light">
    <ul class="unordered-list" >
        {{#each formSubmissionError.details}}  
            {{#with this}}
                <li>{{message}}</li>
            {{/with}}
        {{/each}}
    </ul>
</div>