<header>
    <nav class="navbar">
        <div class="navbar-brand">
            <div class="navbar-item">
                <strong>Budget App</strong>
            </div>
            <a class="navbar-burger">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
            {{#if user}}
                <a class="navbar-item" href="/dashboard" >Dashboard</a>
            {{else}}
                <a class="navbar-item" href="/" >Home</a>
            {{/if}}
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                    {{#if user}}
                        <a class="button is-light" href="/logout">
                            <strong>Logout</strong>
                        </a>
                    {{else}}
                        <a class="button is-dark" href="/sign-up">
                            <strong>Sign Up</strong>
                        </a>
                        <a class="button is-light" href="/login">
                            <strong>Login</strong>
                        </a>
                    {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>