<section class="section">
    <div class="container">
        <h1 class="title is-1">Hello {{user.username}}</h1>
        <div class="tile is-ancestor">
            <div class="tile is-8 is-parent">
                <div class="tile is-child box">
                    <h2 class="title is-2">Recent Purchases</h2>
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child box">
                    <h2 class="title is-2">Budgets</h2>
                    {{#if user.budgets.length}}
                        <ul>
                        {{#each user.budgets}}  
                            <li>{{this.name}} - ${{this.amount}}</li>
                        {{/each}}
                        </ul>
                    {{else}}
                        <p>You have not created any budgets yet!</p>
                    {{/if}}
                    <button 
                        class="button is-dark is-small is-fullwidth mt-5 open-modal"
                        data-target-modal="createBudget"    
                    >
                        Create Budget
                    </button>
                    <div id="createBudget" class="modal">
                        <div class="modal-background close-modal" data-target-modal="createBudget"></div>
                        <div class="modal-card">
                            <header class="modal-card-head">
                                <p class="modal-card-title">Create Budget</p>
                                <button class="delete close-modal" data-target-modal="createBudget"></button>
                            </header>
                            <section class="modal-card-body"></section>
                            <footer class="modal-card-foot">
                                <button class="button close-modal" data-target-modal="createBudget">Cancel</button>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>