<section class="section">
    <div class="container">
        <h1 class="title is-1">Hello {{user.username}}</h1>
        <div class="tile is-ancestor">
            <div class="tile is-8 is-parent">
                <div class="tile is-child box">
                    <h2 class="title is-2"> Your Recent Purchases</h2>
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child box">
                    <h2 class="title is-2">Budgets</h2>
                    {{#if user.budgets.length}}
                        <ul>
                        {{#each user.budgets}}  
                            <li>{{this.name}} - ${{this.amount}}</li>
                        {{/each}}
                        </ul>
                    {{else}}
                        <p>You have not created any budgets yet!</p>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</section>