<section class="section">
    <div class="container">
        <h1 class="title is-1">Manage - {{budget.name}}</h1>
        <div class="level">
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Monthly Amount</p>
                    <p class="title">{{{USD budget.monthlyAmount}}}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Spent This Month</p>
                    <p class="title"></p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Remaining This Month</p>
                    <p class="title"></p>
                </div>
            </div>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <div class="tile is-child box">
                    <h2 class="title is-2">Purchase Categories</h2>
                    {{#unless budget.purchaseCategories.length}}
                        <p>You have not added any Purchase Categories yet!</p>
                    {{/unless}}
                    <canvas 
                        id="purchaseCategoriesPieChart" 
                    {{#unless budget.purchaseCategories.length}}
                        class="is-hidden"
                    {{/unless}}
                    ></canvas>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    //Page variables
    var budget = {{{json budget}}};
    var purchaseCategoriesPieChartCanvas;
    var purchaseCategoriesPieChartOptions = {};
    var purchaseCategoriesPieChart;

    //Page functions
    function getPurchaseCategoriesPieChartData(purchaseCategories) {
        return {
            datasets: [{
                data: purchaseCategories.map(function(purchaseCategory) {
                    return parseFloat(purchaseCategory.monthlyAmount);
                }),
                backgroundColor: purchaseCategories.map(function() {
                    return util.getRandomRGB();
                })
            }],
            labels: purchaseCategories.map(function(purchaseCategory) {
                return purchaseCategory.name;
            })
        };
    }

    function createPurchaseCategoriesPieChart(purchaseCategories) {
        purchaseCategoriesPieChart = util.createPieChart(
            purchaseCategoriesPieChartCanvas, 
            getPurchaseCategoriesPieChartData(purchaseCategories), 
            purchaseCategoriesPieChartOptions
        );
    }
</script>
<script>
    //Page scripts
    $(document).ready(function() {
        purchaseCategoriesPieChartCanvas = $('#purchaseCategoriesPieChart');

        if (budget.purchaseCategories.length) {
            createPurchaseCategoriesPieChart(budget.purchaseCategories);
        }
    });
</script>
