<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">
                <h1 class="title is-1">Sign Up</h1>
                {{#if validationError}}
                    {{> validation-errors}}
                {{/if}}
                <form method="POST" action="/sign-up">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" name="username" placeholder="Username">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input class="input" type="email" name="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input class="input" type="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input class="input" type="password" name="confirmPassword" placeholder="Confirm Password">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input class="button is-dark" type="submit" value="Sign Up">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>