<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">
                <h1 class="title is-1">Sign Up</h1>
                {{#if formSubmissionError}}
                    {{> form-submission-errors}}
                {{/if}}
                <form method="POST" action="/sign-up">
                    {{#with signUpFormInputs}}
                        <div class="field">
                            <div class="control">
                                <input class="input" type="text" name="username" {{#if username}} value="{{username}}" {{/if}} placeholder="Username" required>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input class="input" type="email" name="email" {{#if email}} value="{{email}}" {{/if}} placeholder="Email" required>
                            </div>
                        </div>
                    {{/with}}
                    <div class="field">
                        <div class="control">
                            <input class="input" type="password" name="password" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input class="input" type="password" name="confirmPassword" placeholder="Confirm Password" required>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input class="button is-dark" type="submit" value="Sign Up">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>